<h1>Two-Factor Authentication</h1>

<p>Enter the authentication code from your authenticator app:</p>

<%= form_with url: otp_auth_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= label_tag otp_auth_param, "Authentication Code:" %>
    <%= password_field_tag otp_auth_param, "", autocomplete: "off", placeholder: "Enter 6-digit code", autofocus: true, class: "form-control" %>
  </div>

  <%= raw csrf_tag %>
  <%= submit_tag "Authenticate", class: "btn btn-primary" %>
<% end %>

<% if features.include?(:recovery_codes) %>
  <p class="mt-3">
    <%= link_to "Use a recovery code instead", recovery_auth_path %>
  </p>
<% end %>
